/* mini boss styling */
.miniboss {
    position: absolute;
    z-index: 3;
    width: 7rem;
    height: 8rem;
    background-image: url(../images/miniboss/miniboss.png);
    background-size: cover;
}

.miniboss-hit {
    background-image: url(../images/miniboss/miniboss-hit.png);
    background-size: cover;
}

.miniboss-shoot {
    background-image: url(../images/miniboss/miniboss-shoot.png);
    background-size: cover;
}

.miniboss-bullet {
    position: absolute;
    z-index: 2;
    width: 3rem;
    height: 0.8rem;
    background-image: url(../images/miniboss/miniboss-bullet.png);
    background-size: cover;
}


/* boss styling */
.boss {
    position: absolute;
    z-index: 3;
    width: 20rem;
    height: 16rem;
    background-image: url(../images/boss/boss.png);
    background-size: cover;
}

.boss-hit {
    background-image: url(../images/boss/boss-hit.png);
    background-size: cover;
}

.boss-shoot {
    background-image: url(../images/boss/boss-shoot.png);
    background-size: cover;
}

.boss-health {
    z-index: 2;
    width: 75%;
    height: 12%;
    top: 80%;
    left: 50%;
    transform: translateX(-50%); /* This centers the element properly */
    position: absolute;
    color: white;
    text-align: center;
}

.boss-health p {
    margin: 0;
    padding: 0;
    font-size: 2rem;
}

.boss-hp {
    z-index: 2;
    display: inline-block;
    background-image: url(../images/boss/boss-hp.png);
    background-size: cover;
    height: 2rem;
    width: 2.8rem;
    margin: 0.1rem;
}

.bosshp-hit {
    background-image: url(../images/boss/bosshp-hit.png);
    background-size: cover;
}

.boss-bullet {
    position: absolute;
    z-index: 2;
    width: 10rem;
    height: 2.8rem;
    background-image: url(../images/boss/boss-bullet.png);
    background-size: cover;
}