/* elements styling */
.bullet {
    position: absolute;
    z-index: 2;
    width: 5rem;
    height: 1.6rem;
    background-image: url(../images/char/bullet.png);
    background-size: cover;
}

.cloud {
    position: absolute;
    z-index: 1;
    width: 25rem;
    height: 12rem;
    background-image: url(../images/environment/matrixcloud.png);
    background-size: cover;
}

.building {
    position: absolute;
    z-index: 0;
    width: 60rem;
    height: 20rem;
    background-image: url(../images/environment/buildings.png);
    background-size: cover;
}

.bug {
    position: absolute;
    z-index: 2;
    width: 4rem;
    height: 4rem;
    background-image: url(../images/bug/bug.png);
    background-size: cover;
}

.bug-hit {
    background-image: url(../images/bug/bug-hit.png);
    background-size: cover;
}

.bitcoin {
    position: absolute;
    z-index: 2;
    width: 4rem;
    height: 2.5rem;
    background-image: url(../images/environment/bitcoin.png);
    background-size: cover;
}

.life {
    z-index: 2;
    display: inline-block;
    background-image: url(../images/life/life.png);
    background-size: cover;
    height: 3rem;
    width: 3rem;
}

.life-hit {
    background-image: url(../images/life/life-hit.png);
    background-size: cover;
}

.meteorite {
    position: absolute;
    z-index: 2;
    width: 11rem;
    height: 4rem;
    background-image: url(../images/environment/meteorite.png);
    background-size: cover;
}