body {
    font-family: 'Orbitron';
    font-size: 32px;
    margin: 0;
}

.game-area {
    position: fixed;
    background: rgb(13,2,8);
    background: linear-gradient(0deg, rgba(13,2,8,1) 0%, rgba(9,9,121,1) 33%, rgba(13,2,8,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0;
}

.hide {
    display: none;
}

/* start menu */
.game-start {
    font-family: 'Orbitron';
    font-size: 32px;
    position: absolute;
    width: 30%;
    top: 100px;
    left: 35%;
    z-index: 1;
    background-color: #0D0208;
    border-radius: 30px;
    text-align: center;
    color: #00FF41;
    padding: 30px;
}

.game-start:hover {
    cursor: pointer;
    background-color:  #003B00;
    border: 2px solid  #008F11;
}

.title-logo {
    position: absolute;
    z-index: 1;
    background-image: url(../images/title-logo.png);
    width: 280px;
    height: 120px;
    top: 0px;
    left: 31%;
}

.legend {
    position: absolute;
    width: 45%;
    height: 300px;
    top: 220px;
    left: 25.5%;
    z-index: 1;
    background-color: #0D0208;
    border-radius: 30px;
    border: 2px solid  #008F11;
    text-align: center;
    font-size: 16px;
    color: #00FF41;
    padding: 30px;
}

.legend ul {
    margin-top: 80px;
    list-style-type: none;
}

.legend ul p {
    display: inline-block;
    margin-right: 50px;
}

.legend h4 {
    margin-top: 60px;
    padding: 0;
    text-align: center;
    font-style: italic;
}

.legend-bug {
    width: 70px;
    height: 70px;
    display: inline-block;
}

.legend-bitcoin {
    width: 70px;
    height: 40px;
    display: inline-block;
}


/* user interface elements */
.game-score {
    background-color: rgb(13,2,8);
    color: #00FF41;
    text-align: center;
    height: 32px;
}

.lives-container {
    position: absolute;
    z-index: 1;
    width: 12%;
    height: 10%;
    top: 0px;
    left: 5%;
}

.level {
    position: absolute;
    color: #00FF41;
    z-index: 1;
    width: 10%;
    height: 10%;
    top: 0;
    margin: 0;
    padding: 0;
    left: 45%;
    text-align: center;
}

.get-ready {
    position: absolute;
    color: #880808;
    z-index: 1;
    left: 35%;
    top: 40%;
    text-align: center;
    font-size: 72px;
}

/* character styling */
.character {
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 180px;
    background-image: url(../images/char/char.png);
    background-size: cover;
}

.character-shoot {
    background-image: url(../images/char/char-shoot.png);
    background-size: cover;
}

.character-flying {
    background-image: url(../images/char/char-flying.png);
    background-size: cover;
}

.character-flyingshoot {
    background-image: url(../images/char/char-flyingshoot.png);
    background-size: cover;
}

.character-hit {
    background-image: url(../images/char/char-hit.png);
    background-size: cover;
}


/* elements styling */
.bullet {
    position: absolute;
    width: 80px;
    height: 20px;
    background-image: url(../images/bullet.png);
    background-size: cover;
}

.cloud {
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 200px;
    background-image: url(../images/matrixcloud.png);
    background-size: cover;
}

.bug {
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../images/bug.png);
    background-size: cover;
}

.bitcoin {
    position: absolute;
    width: 65px;
    height: 40px;
    background-image: url(../images/bitcoin.png);
    background-size: cover;
}

.life {
    z-index: 1;
    display: inline-block;
    background-image: url(../images/life/life.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

.life-hit {
    background-image: url(../images/life/life-hit.png);
    background-size: cover;
}

.meteorite {
    position: absolute;
    width: 180px;
    height: 65px;
    background-image: url(../images/meteorite.png);
    background-size: cover;
}

.boss-bullet {
    position: absolute;
    width: 160px;
    height: 45px;
    background-image: url(../images/boss/boss-bullet.png);
    background-size: cover;
}

/* game over menu */
.endgame-stats {
    position: absolute;
    width: 30%;
    height: 200px;
    top: 220px;
    left: 33%;
    z-index: 1;
    background-color: #0D0208;
    border-radius: 30px;
    border: 2px solid  #008F11;
    font-size: 16px;
    color: #00FF41;
    padding: 30px;
}

.end-message {
    text-align: center;
}

.stats {
    text-align: center;
    margin: 5px;
}

.stats:last-of-type {
    margin-top: 30px;
}

.restart-game {
    font-family: 'Orbitron';
    font-size: 32px;
    position: absolute;
    width: 30%;
    top: 500px;
    left: 35%;
    z-index: 1;
    background-color: #0D0208;
    border-radius: 30px;
    text-align: center;
    color: #00FF41;
    padding: 30px;
}

.restart-game:hover {
    cursor: pointer;
    background-color:  #003B00;
    border: 2px solid  #008F11;
}

/* boss styling */
.boss {
    position: absolute;
    width: 350px;
    height: 280px;
    background-image: url(../images/boss/boss.png);
    background-size: cover;
}

.boss-hit {
    background-image: url(../images/boss/boss-hit.png);
    background-size: cover;
}

.boss-shoot {
    background-image: url(../images/boss/boss-shoot.png);
    background-size: cover;
}

.boss-health {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 1;
    width: 75%;
    height: 12%;
    top: 80%;
    left: 12.5%;
}

.boss-health p {
    margin: 0;
    padding: 0;
}

.boss-hp {
    z-index: 1;
    display: inline-block;
    background-image: url(../images/boss/boss-hp.png);
    background-size: cover;
    height: 33px;
    width: 45px;
    margin: 2px;
}