body {
    font-family: 'Orbitron';
    font-size: 32px;
    margin: 0;
}

.game-area {
    position: fixed;
    background: rgb(13,2,8);
    background: linear-gradient(0deg, rgba(13,2,8,1) 0%, rgba(9,9,121,1) 33%, rgba(13,2,8,1) 100%);
    width: 100%;
    height: 100%;
    margin: 0;
}

.hide {
    display: none;
}

/* start menu */
.game-start {
    font-family: 'Orbitron';
    font-size: 32px;
    position: absolute;
    width: 30%;
    top: 100px;
    left: 35%;
    z-index: 2;
    background-color: #0D0208;
    border-radius: 30px;
    text-align: center;
    color: #00FF41;
    padding: 30px;
}

.game-start:hover {
    cursor: pointer;
    background-color:  #003B00;
    border: 2px solid  #008F11;
}

.title-logo {
    position: absolute;
    z-index: 2;
    background-image: url(../images/menu/title-logo.png);
    width: 280px;
    height: 120px;
    top: 0px;
    left: 31%;
}

.controls {
    position: absolute;
    z-index: 2;
    left: 35%;
    top: 240px;
    margin: 15px;
}

.legend {
    position: absolute;
    width: 45%;
    height: 400px;
    top: 220px;
    left: 25.5%;
    z-index: 2;
    background-color: #0D0208;
    border-radius: 30px;
    border: 2px solid  #008F11;
    text-align: center;
    font-size: 16px;
    color: #00FF41;
    padding: 30px;
}

.legend ul {
    margin-top: 100px;
    list-style-type: none;
}

.legend ul p {
    display: inline-block;
    margin-right: 40px;
}

.legend h4 {
    margin-top: 180px;
    padding: 0;
    text-align: center;
    font-style: italic;
}

.legend-bug {
    width: 50px;
    height: 50px;
    display: inline-block;
}

.legend-bitcoin {
    width: 50px;
    height: 30px;
    display: inline-block;
}


/* user interface elements */
.game-score {
    background-color: rgb(13,2,8);
    color: #00FF41;
    text-align: center;
    height: 32px;
}

.pause-menu {
    position: absolute;
    background-image: url(../images/menu/pause-btn.png);
    background-size: cover;
    z-index: 2;
    width: 40px;
    height: 50px;
    top: 15px;
    left: 15px;
}

.lives-container {
    position: absolute;
    z-index: 2;
    width: 15%;
    height: 10%;
    top: 0px;
    left: 10%;
}

.level {
    position: absolute;
    color: #00FF41;
    z-index: 2;
    width: 10%;
    height: 10%;
    top: 0;
    margin: 0;
    padding: 0;
    left: 45%;
    text-align: center;
}

.get-ready {
    position: absolute;
    color: #880808;
    z-index: 2;
    left: 35%;
    top: 40%;
    text-align: center;
    font-size: 72px;
}

.continue-btn {
    font-family: 'Orbitron';
    font-size: 32px;
    position: absolute;
    width: 30%;
    top: 100px;
    left: 35%;
    z-index: 2;
    background-color: #0D0208;
    border-radius: 30px;
    text-align: center;
    color: #00FF41;
    padding: 30px;
}

.continue-btn:hover {
    cursor: pointer;
    background-color:  #003B00;
    border: 2px solid  #008F11;
}


/* character styling */
.character {
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 180px;
    background-image: url(../images/char/char.png);
    background-size: cover;
}

.character-shoot {
    background-image: url(../images/char/char-shoot.png);
    background-size: cover;
}

.character-flying {
    background-image: url(../images/char/char-flying.png);
    background-size: cover;
}

.character-flyingshoot {
    background-image: url(../images/char/char-flyingshoot.png);
    background-size: cover;
}

.character-hit {
    background-image: url(../images/char/char-hit.png);
    background-size: cover;
}

.character-collect {
    background-image: url(../images/char/char-collect.png);
    background-size: cover;
}


/* elements styling */
.bullet {
    position: absolute;
    z-index: 2;
    width: 80px;
    height: 20px;
    background-image: url(../images/char/bullet.png);
    background-size: cover;
}

.cloud {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: 200px;
    background-image: url(../images/environment/matrixcloud.png);
    background-size: cover;
}

.building {
    position: absolute;
    z-index: 0;
    width: 1000px;
    height: 320px;
    background-image: url(../images/environment/buildings.png);
    background-size: cover;
}

.bug {
    position: absolute;
    z-index: 2;
    width: 70px;
    height: 70px;
    background-image: url(../images/bug.png);
    background-size: cover;
}

.bitcoin {
    position: absolute;
    z-index: 2;
    width: 65px;
    height: 40px;
    background-image: url(../images/bitcoin.png);
    background-size: cover;
}

.life {
    z-index: 2;
    display: inline-block;
    background-image: url(../images/life/life.png);
    background-size: cover;
    height: 50px;
    width: 50px;
}

.life-hit {
    background-image: url(../images/life/life-hit.png);
    background-size: cover;
}

.meteorite {
    position: absolute;
    z-index: 2;
    width: 180px;
    height: 65px;
    background-image: url(../images/meteorite.png);
    background-size: cover;
}


/* game over menu */
.endgame-stats {
    position: absolute;
    width: 30%;
    height: 300px;
    top: 100px;
    left: 33%;
    z-index: 2;
    background-color: #0D0208;
    border-radius: 30px;
    border: 2px solid  #008F11;
    font-size: 16px;
    color: #00FF41;
    padding: 30px;
}

.end-message {
    text-align: center;
}

.stats {
    text-align: center;
    margin: 5px;
}

.stats:last-of-type {
    margin-top: 30px;
}

.restart-game {
    font-family: 'Orbitron';
    font-size: 32px;
    position: absolute;
    width: 30%;
    top: 500px;
    left: 35%;
    z-index: 2;
    background-color: #0D0208;
    border-radius: 30px;
    text-align: center;
    color: #00FF41;
    padding: 30px;
}

.restart-game:hover {
    cursor: pointer;
    background-color:  #003B00;
    border: 2px solid  #008F11;
}

/* boss styling */
.boss {
    position: absolute;
    z-index: 3;
    width: 350px;
    height: 280px;
    background-image: url(../images/boss/boss.png);
    background-size: cover;
}

.boss-hit {
    background-image: url(../images/boss/boss-hit.png);
    background-size: cover;
}

.boss-shoot {
    background-image: url(../images/boss/boss-shoot.png);
    background-size: cover;
}

.boss-health {
    position: absolute;
    color: white;
    text-align: center;
    z-index: 2;
    width: 75%;
    height: 12%;
    top: 80%;
    left: 12.5%;
}

.boss-health p {
    margin: 0;
    padding: 0;
}

.boss-hp {
    z-index: 2;
    display: inline-block;
    background-image: url(../images/boss/boss-hp.png);
    background-size: cover;
    height: 33px;
    width: 45px;
    margin: 2px;
}

.bosshp-hit {
    background-image: url(../images/boss/bosshp-hit.png);
    background-size: cover;
}

.boss-bullet {
    position: absolute;
    z-index: 2;
    width: 160px;
    height: 45px;
    background-image: url(../images/boss/boss-bullet.png);
    background-size: cover;
}


/* mini boss stylings */

.miniboss {
    position: absolute;
    z-index: 3;
    width: 90px;
    height: 140px;
    background-image: url(../images/miniboss/miniboss.png);
    background-size: cover;
}

.miniboss-hit {
    background-image: url(../images/miniboss/miniboss-hit.png);
    background-size: cover;
}

.miniboss-shoot {
    background-image: url(../images/miniboss/miniboss-shoot.png);
    background-size: cover;
}

.miniboss-bullet {
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 35px;
    background-image: url(../images/miniboss/miniboss-bullet.png);
    background-size: cover;
}


/* toggle easy/hard mode */
.toggle {
    position: absolute;
    z-index: 2;
    top: 20px;
    left: 47%;
    width: 100px;
    height: 50px;
    font-size: 16px;
    color: #880808;
    text-align: center;
  }
  
  .toggle-checkbox {
    display: none;
  }
  
  .toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25px;
    background-color: #00FF41;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.4s;
  }
  
  .toggle-slider {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background-color: #0D0208;
    border-radius: 50%;
    transition: transform 0.4s;
  }
  
  .toggle-checkbox:checked + .toggle-label {
    background-color: #880808; /* Toggle on color */
    color: #00FF41;
  }
  
  .toggle-checkbox:checked + .toggle-label + .toggle-slider {
    transform: translateX(75px); /* Move the slider to the right */
  }